.divider {
  position: relative;
  background-color: white;
}

.for-divider {
  display: flex;
  flex-direction: column;
}

.first-container {
  .centered-flex();
  padding: 5em;
  padding-top: 3em;
  justify-content: space-between;
  height: auto;
  background-color: #9192bb;
  line-height: 2.2em;
  width: 100%;
  color: @dark;
  background-image: linear-gradient(
    to top,
    #eadbdb,
    #dec5cd,
    #cdb2c4,
    #b4a0bf,
    #9192bb
  );
  flex-wrap: wrap;

  .testimonial-box {
    width: 30%;
    height: 23em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.8);

    .text-testimonial {
      padding: 2em;
      padding-top: 6em;
    }

    .hidden {
      display: flex;
      justify-content: center;
      align-content: center;

      .person {
        display: flex;
        align-self: center;
        justify-content: center;
        position: absolute;
        border: 10px solid #9192bb;
        height: 11em;
        width: auto;
        border-radius: 50em;
      }
    }
    @media (max-width: 1200px) {
      height: 27em;
    }
    @media (max-width: 1030px) {
      margin-bottom: 7em;
      width: 80%;
      height: auto;
    }
    @media (max-width: 500px) {
      width: 95%;
    }
  }
  @media (max-width: 1030px) {
    flex-direction: column;
  }
  @media (max-width: 500px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.sect-title {
  font-size: 1.5em;
  .tall-font();
  letter-spacing: 0.1em;
  font-weight: 600;
  color: @mid-purple;
  //   font-family: "Darker Grotesque", sans-serif;
  //   font-family: "Playfair Display", serif;
}
