.divider {
  position: relative;
  background-color: white;
}

.for-divider {
  display: flex;
  flex-direction: column;
}

.first-container {
  .centered-flex();
  padding: 3em;
  padding-top: 3em;
  justify-content: space-between;
  height: auto;
  line-height: 2.2em;
  width: 100%;
  color: @dark;
  background-image: linear-gradient(to top, #dec5cd, #cdb2c4, #b4a0bf, #9192bb);
  // background: url("../images/bottom-wave.svg");
  background-size: cover;
  background-color: #9192bb;
  background-repeat: no-repeat;
  // background-position: bottom;
  flex-wrap: wrap;

  .testimonial-box {
    width: 32%;
    height: 23em;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    // background-color: #f7d7d8;

    .text-testimonial {
      // border-top: 10px solid #9192bb6c;
      height: 100%;
      z-index: 1;
      position: relative;
      padding: 2em;
      padding-top: 5.6em;
      clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0 80%);
      background-color: rgba(255, 255, 255, 0.85);
      margin: 0.3em;

      @media (max-width: 397px) {
        padding: 1em;
        padding-top: 5.6em;
      }
    }

    .hidden {
      display: flex;
      justify-content: center;
      align-content: center;

      .person {
        z-index: 5;
        position: relative;
        display: flex;
        align-self: center;
        justify-content: center;
        position: absolute;
        border: 6px solid #9192bb;
        height: 11em;
        width: auto;
        border-radius: 50em;
      }
    }
    @media (max-width: 1200px) {
      height: 27em;
    }
    @media (max-width: 1030px) {
      margin-bottom: 9em;
      width: 60%;
      height: 22em;
    }
    @media (max-width: 750px) {
      height: 22em;
      width: 95%;
    }
    @media (max-width: 397px) {
      height: 30em;
    }
  }
  @media (max-width: 1030px) {
    padding-bottom: 0;
    flex-direction: column;
  }
  @media (max-width: 500px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.second-container {
  height: auto;
  width: 100%;
  // background-color: #9192bb;
  background-color: #f4e4e9;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-outer {
    height: 40em;
    width: 92%;
    // background-color: #ffffff;
    display: flex;

    img {
      height: auto;
      width: 100%;
    }

    .about-text {
    }
  }
}

.sect-title {
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: @mid-purple;
  font-family: "Playfair Display", serif;
}
